@import "tailwindcss";

.img_p{
    background-image: url('./assets/images/RCH-Refurbished-Phones-big.png');
    background-color: turquoise;
    background-size: contain;
    background-repeat: no-repeat;
    height:700px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.bigtextonlandingpage{
    color: black;
}