@import "tailwindcss";

.img_p{
    background-color: turquoise;
    background-size: contain;
    background-repeat: no-repeat;
    height:500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bigtextonlandingpage{
    color: black;
}